*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
    /* border: 1px solid black; */
    font-family: "Space Grotesk", sans-serif;
}
.landing-page{
    width: Fixed 90rem;
    height: Hug 48.188rem;
    top: 3.75rem;
    gap: 4.375rem;
    opacity: 0rem;
}
nav{
    width: Fixed 90rem;
    height: Hug 4.25rem;
    padding: 0rem 6.25rem 0rem 6.25rem;
    gap: 0rem;
    justify-content: space-between;
    opacity: 0rem;
    display: flex;
    margin-bottom: 4.25rem;
}
 .frame-9{
    width: Hug 13.721rem;
    height: Hug 3.5rem;
    padding: 0.625rem 0rem 10rem 0rem;
    gap: 0.625rem;
    opacity: 0rem;
}
.Logo{
    width: 13.721rem;
    height: 2.25rem;
    gap: 0rem;
    opacity: 0rem;
    display: flex;
    justify-content: space-between;
}
.positivus{
    width: 10.664rem;
    height: 1.785rem;
    top: 0.188rem;
    left: 3.058rem;
    gap: 0rem;
    opacity: 0rem;
    color: black;
}
.vector{
    width: 2.25rem;
    height: 2.25rem;
    padding: 0.022rem 0.025rem 0.025rem 0.022rem;
    gap: 0rem;
    opacity: 0rem;
}
.frame-10{
    width: Hug 50.688rem;
    height: Hug 4.25rem;
    gap: 2.5rem;
    opacity: 0rem;
    font-family: Space Grotesk;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;

}
.frame-10 > ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    
}
.frame-10 ul li a{
    text-decoration: none;
    width: 5.5rem;
    height: 1.75rem;
    gap: 0rem;
    opacity: 0rem;
    font-family: Space Grotesk;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    color: black;
    justify-content: space-between;

}
.Request-a-quote{
    width: Hug 14.438rem;
    height: Hug 4.25rem;
    padding: 1.25rem 2.188rem 1.25rem 2.188rem;
    gap: 0.625rem;
    border-radius: 0.875rem 0.875rem 0.875rem 0.875rem;
    border: 0.063rem 0rem 0rem 0rem;
    opacity: 0rem;
    border: 1px solid #191A23;
}
.layout{
    width: Fixed 90rem;
    height: Hug 32.188rem;
    padding: 0rem 6.25rem 0rem 6.25rem;
    gap: 0rem;
    justify-content: space-between;
    opacity: 0rem;
    margin-bottom: 4.25rem;

}
.frame-13{
    width: Hug 33.188rem;
    height: Hug 30.063rem;
    gap: 2.188rem;
    opacity: 0rem;
    display: flex;
    justify-content: space-around;
}
.frame-13 h1{
    width: 33.188rem;
    height: 14.438rem;
    gap: 0rem;
    opacity: 0rem;
    font-family: Space Grotesk;
    font-size: 60px;
    font-weight: 500;
    line-height: 76.56px;
    text-align: left;
}
.frame-13 p{
    width: 31.125rem;
    height: 7rem;
    gap: 0rem;
    opacity: 0rem;
    font-family: Space Grotesk;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;    
}
.frame-13 button{
    width: Hug 16.5rem;
    height: Hug 4.25rem;
    padding: 1.25rem 2.188rem 1.25rem 2.188rem;
    gap: 0.625rem;
    border-radius: 0.875rem 0.875rem 0.875rem 0.875rem;
    opacity: 0rem;
    background-color:#191A23;
    font-family: Space Grotesk;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    color: white;
}
.layout-2{
    width: Fixed 90rem;
    height: Hug 3rem;
    padding: 0rem 6.25rem 0rem 6.25rem;
    gap: 0rem;
    display:flex;
    justify-content: space-around;
    opacity: 0rem;
}
.layout-2 img{
    width: 7.757rem;
    height: 3rem;
    gap: 0rem;
    opacity: .5;
    filter: grayscale(100%);
    /* justify-content: space-between; */
}